* { margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.png');
  color: yellow;
}

header {
  font-size: 2rem;
  margin: 50px 0 15px;
  text-align: center;
}

h2 {
  border: 3px solid grey;
  font-size: 2.5rem;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.planetas {
  align-items: center;
  display: inline-flex;
  width: 600px;
}

.texto {
  text-align: center;
}

.principal {
  align-items: center;
  height: 270px;
  justify-content: center;
  width: 100%;
}

.missoes {
  align-items: center;
  border: 3px solid grey;
  display: inline-block;
  font-size: 2.5rem;
  margin: 50px;
  padding: 35px;
  text-align: center;
  width: 30%;
}

.mission-card {
  align-items: center;
  padding: 30px;
  text-align: center;
}


.missoes p {
  font-size: 15px;
  margin-top: 20px;
}
