* { margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-color: black;
  background-image: url('./images/background.png');
  color: yellow;
}

header {
  font-size: 2rem;
  margin: 50px 0 15px;
  text-align: center;
}

h2 {
  border: 3px solid grey;
  font-size: 2.5rem;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.planetas {
  align-items: center;
  display: inline-flex;
  width: 600px;
}

.planetas img:hover {
  transform: scale(1.2);
}

.texto {
  text-align: center;
}

.principal {
  align-items: center;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.planetscontainer {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 20px 20px 30px;
}

hr {
  width: 100%;
}

.missoes {
  border: 3px solid grey;
  display: inline-block;
  flex-wrap: wrap;
  margin: 30px;
  padding: 35px;
  text-align: center;
  width: 30%;
}

.mission-card {
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px auto;
  padding: 30px;
  text-align: center;
}

.missoes p {
  font-size: 18px;
  margin-top: 15px;
}

